# <center> Part A </center>

### 1) Import numpy as np, and pandas as pd

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 2) Re-implement the following logic in a single line of code with list comprehension

In [ ]:
# original code
def foo(n):
    return n*(n-1)/2

lst = [10, 20, 30, 40, 50]

nlst = []
for l in lst:
    nlst.append(foo(l))

print (nlst)

In [ ]:
# your single line of code (not including print statement) using list comprehension here

In [ ]:
# leave this cell blank

### 3) Re-implement the following logic in a single line of code with map and lambda

In [ ]:
# original code
def foo(n):
    return n*(n-1)/2

lst = [10, 20, 30, 40, 50]

nlst = []
for l in lst:
    nlst.append(foo(l))

print (nlst)

In [ ]:
# your single line of code (not including print statement) using map and lambda here

In [ ]:
# leave this cell blank

### 4) Re-implement the following logic in a single line of code with filter and lambda

In [ ]:
# original code
def foo(n):
    if n>25:
        return True
    else:
        return False

lst = [10, 20, 30, 40, 50]

nlst = []
for l in lst:
    if foo(l) == True:
        nlst.append(l)

print (nlst)

In [ ]:
# your single line of code (not including print statement) using filter and lambda here

In [ ]:
# leave this cell blank

# <center> Part B </center>

### 5) Execute the next cell as-is to create a numpy array arr

In [ ]:
np.random.seed(10)
arr = np.random.randint(1, 100, (1, 35))
print (arr)

In [ ]:
# leave this cell blank

### 6) Re-shape arr to have 5 rows and 7 columns; then print arr 
##### [note: after this manipulation arr should have 5 rows and 7 columns]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 7) Convert arr into a pandas dataframe called df with rows ['s1', 's2', 's3', 's4', 's5'] and columns ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7']; then print df

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 8) Include a new column called 'f8' in df with the following values: ['X', 'X', 'X', 'Y', 'Y']; then print df
##### [note: afer this manipulation df should contain a new column called f8]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 9) Print column f1 in df

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 10) Print row s3 in df

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 11) Print the element at row s4 and column f6 in df

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 12) Print the subsection of data in df containing rows s2 and s3, and columns f5 and f6

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 13) Create a new column in df called 'f9' as the sum of column 'f1' and column 'f2'; then print df
##### [note: afer this manipulation df should contain a new column called f9]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 14) Create a new column in df called 'f10' as the log of column 'f3'; then print df
##### [note: afer this manipulation df should contain a new column called f10]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 15) Create a new column in df called 'f11' as the standardized value of column 'f4'; then print df
##### [note: to standardize the elements in a column, you will subtract out the mean of the column, and divide by standard deviation of the column]
##### [note: afer this manipulation df should contain a new column called f11]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 16) Use apply and lambda to create a new column in df called 'f12', where f12 is set to 1 if f5>50, else it is set to 0; then print df
##### [note: afer this manipulation df should contain a new column called f12]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 17) Drop columns f1, f2, f3, f4, f5 in df; then print df 
##### [note: after this manipulation, df should only contain columns f6 through f12]

In [ ]:
# your code here

In [ ]:
# leave this cell bblank

### 18) Use conditional selection and masking to only view those rows in df where f6 < f7 or f11 > 0
##### [note: you are NOT changing df as a result of this operation - just viewing the result of conditional selection with masking]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 19) Use conditional selection and masking to only view those rows in df where f6 > f7 and f11 > 0
##### [note: you are NOT changing df as a result of this operation - just viewing the result of conditional selection with masking]

In [ ]:
# your code here

In [ ]:
# leave this cell blank

### 20) Createa a pivot table to look at average values of f9 by features f8 and f12; also provide row averages and column averages

In [ ]:
# your code here

In [ ]:
# leave this cell blank